In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [9]:
underlying = pd.read_csv("data/spx_minute_level_data_jan_mar_2024.csv")
underlying

       ms_of_day    price      date
0       34260000  4742.96  20240102
1       34320000  4743.24  20240102
2       34380000  4744.84  20240102
3       34440000  4744.11  20240102
4       34500000  4743.49  20240102
...          ...      ...       ...
23845   57360000  5258.52  20240328
23846   57420000  5258.19  20240328
23847   57480000  5260.09  20240328
23848   57540000  5258.74  20240328
23849   57600000  5255.30  20240328

[23850 rows x 3 columns]

In [10]:
options : pd.DataFrame = pd.read_csv("data/cleaned_options_data.csv")
options["day"] = options["ts_recv"].apply(lambda x: x.split("T")[0])


options['datetime'] = pd.to_datetime(options['ts_recv'], format="%Y-%m-%dT%H:%M:%S.%fZ", utc=True).dt.tz_convert('US/Eastern')
options['symbol_data'] = options['symbol'].str.split('   ', expand=True)[1]

options['expiration_date'] = pd.to_datetime(options['symbol_data'].str[:6], format="%y%m%d")
options['type'] = options['symbol_data'].str[6]
options['strike'] = options['symbol_data'].str[7:].astype(float) / 1000

processed_options = options.drop(columns=['symbol_data'])

In [11]:
processed_options

,ts_recv,instrument_id,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,symbol,day,datetime,expiration_date,type,strike
0,2024-01-02T14:30:02.402838204Z,587228771,27.0,27.70,174,155,SPX 240119P04700000,2024-01-02,2024-01-02 09:30:02.402838204-05:00,2024-01-19,P,4700.0
1,2024-01-02T14:30:02.402844171Z,587211744,1.6,1.75,755,1981,SPX 240119P04300000,2024-01-02,2024-01-02 09:30:02.402844171-05:00,2024-01-19,P,4300.0
2,2024-01-02T14:30:02.402848382Z,587211728,4.1,4.40,1566,1125,SPX 240119P04500000,2024-01-02,2024-01-02 09:30:02.402848382-05:00,2024-01-19,P,4500.0
3,2024-01-02T14:30:02.410507796Z,587246038,121.1,123.70,15,15,SPX 240216P04850000,2024-01-02,2024-01-02 09:30:02.410507796-05:00,2024-02-16,P,4850.0
4,2024-01-02T14:30:02.410507796Z,587237433,42.7,43.40,75,120,SPX 240216P04650000,2024-01-02,2024-01-02 09:30:02.410507796-05:00,2024-02-16,P,4650.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1583106,2024-03-28T20:37:30.943251679Z,1174421216,118.5,120.20,30,30,SPX 240621P05305000,2024-03-28,2024-03-28 16:37:30.943251679-04:00,2024-06-21,P,5305.0
1583107,2024-03-28T20:37:30.943337040Z,1174421216,118.5,120.20,30,30,SPX 240621P05305000,2024-03-28,2024-03-28 16:37:30.943337040-04:00,2024-06-21,P,5305.0
1583108,2024-03-28T20:37:31.631254111Z,1174440576,118.5,120.00,25,15,SPX 240621C05305000,2024-03-28,2024-03-28 16:37:31.631254111-04:00,2024-06-21,C,5305.0
1583109,2024-03-28T20:38:02.001005213Z,1174440576,118.5,120.00,25,15,SPX 240621C05305000,2024-03-28,2024-03-28 16:38:02.001005213-04:00,2024-06-21,C,5305.0
1583110,2024-03-28T20:51:14.059720971Z,1174424859,1.5,1.70,346,888,SPX 240419P04475000,2024-03-28,2024-03-28 16:51:14.059720971-04:00,2024-04-19,P,4475.0